<h3>Editing Post</h3>
<br/><br/><br/>
<style> 
/* .divcss5{ border:1px solid #000; width:300px; height:100px;overflow:hidden} */ 
.divcss5 img{max-width:800px;_width:expression(this.width > 800 ? "800px" : this.width);} 
</style> 
<%= form_for @post, url: {action: "update"} do |f| %>

<select name="post[category_id]">
 <option value="">Please select</option>
<% @categories.each do |category| %>
<option value= <%= category.id %>  <%= "selected" if category.id==@post.category_id %> ><%= category.name %></option>
<% end %>
</select><br/>

</p>
 Title<br/> <%= f.text_field :title , size: "60"%> <br/>
 </p>
 <br/>
 Image<br/>
 <div class="divcss5"> 
<img src="<%= @post.avatar.url %>"  alt="" />
</div>
 <%= f.file_field :avatar%> 
<br/>
Audio<br/>
<audio src="<%= @post.audiofile.url %>"  controls="controls">
</audio>

<%= f.file_field :audiofile%> 
<br/>
 Content <br/><%= f.text_area :content, size: "90x12" %> <br/>





<br/><br/>
<%= f.submit "Update Post" %>
<% end %>

<%= link_to 'Show', @post %> |
<%= link_to 'Post Listing', posts_path %>
